body{
	font-family: 'Roboto', sans-serif;
	margin: 0px;
}

.marginTop{
	margin-top: 20px;
	color: #ffffe8;
}

.mdMargin{
	padding-top: 40px;
}

.center{
	text-align: center;
}

.horizontalCenter{
	margin-left: 50%;
	margin-right: 50%;
}

.bgImg{
	background-image: url("img/loginbg_wide.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	/*background-color:#212121;*/
}

#loginScreen{

}

.goalBg{
	/*background-image: url("img/goalbg_wide.jpg");*/
	/*background-size: cover;*/
	/*background-position: center;*/
	background-color:#212121;
}

.summaryBody {
	height: 65vh;
 	overflow: scroll;

}
.summaryBg{
	/*background-image: url("img/small_leaves.jpg");*/
	background-color:#212121;
	min-height: 100vh;
	/*background-size: cover;*/
	/*background-repeat: no-repeat;*/
	background-position: 15% 20vh;
}

.customDivider{
	width:80%;
	border: 1px solid #ffffe8;
}

.center.instruction{
	padding-left:5vw;
	padding-right:5vw;
	font-family:Roboto;
	font-size:12pt;
	color: #ffffe8;
	padding-top:3vh;
}

#bottomSummaryLinks {
  background-color: rgba(0,0,0,0.5);
  /*background-color:#212121;*/
  position: absolute;
  bottom: 0px;
  height: 15vh;
  width: 100vw;
  display: table;
}

.summaryHeader{
	font-weight:bold;
	font-family:Roboto, helvetica, sans serif;
	font-size:14pt;
}
.container.fullWidth{
	padding: 0px;
	margin-right: 0px;
	margin-left: 0px;
	overflow: hidden;
}

.logo{
	height: 30vh;
}

.logoHolder{
	padding-top: 10vh;
}

.loginForm{
	padding-top: 5vh;
}

.newGoalForm{
	display: inline;
	padding-top: 8%;
}

.userinput{
	font-family: 'Roboto', sans-serif;
	font-size: 3vh;
	text-align: center;
	margin-top: 7vh;
	color: #ffffe8;
	width: 60vw;
	height: 8vh;
	padding: 3vh;
	padding-top: 2vh;
	padding-bottom: 2vh;
	border-radius: 8vh;
	background-color: rgba(0,0,0,0);
	border: #ffffe8 solid 0.5vh;
}

#pw{
	margin-top: 4vh;
}

.newGoal{
	width: 90%;
	font-size: 1em;
	font-weight: 300;
	color: #ffffe8;
}

#check{
	position: relative;
	display: inline;
}

.createGoal{
	/*height: 30pt;*/
	background-color: #55a244;
	color: #ffffe8;
	margin-top: 30px;
	font-size: 22pt;
	font-weight: 300;
	/*border: 2px solid white;*/
	border-radius: 30px;
	height: 120%;
	width: 80%;
	margin-left: 10%;
	margin-bottom: 20px;
}

.createdGoals {
	width: 100vw;
	color:white;
	font-size:16px;
	/*SYNK*/
	overflow: scroll;
	text-align: left;
}

.createdGoals input{
	display: none;
}

.noMargin{
	margin: 0px;
}

.ownGoal{
	margin-left: 7vw;
	margin-right: 7vw;
}

.glyphicon-remove{
	padding-right: 10px;
	color: #990f0f;
}

.userinput:focus{
	outline: none;
}

.bottomLink{
	font-family: 'Roboto', sans-serif;
	background-color: #55a244;
	border: none;
	font-weight: 300;
	font-size: 1.4em;
	color: #ffffe8;
	text-align: center;
	border-radius: 10vh;
	vertical-align: middle;
	padding: 1.5vh;
	padding-left: 3vh;
	padding-right: 3vh;
	height: 10vh;
	width: 60vw;
	margin: 0;
}

.bottomLink:hover{
	color: #e5e5e5;
	text-decoration: none;
}

.removeInputStyling{
	background-color: transparent;
	border: none;
}

a:active, a:visited, a:link {
    color: #ffffe8;
    text-decoration: none;
}

.bottomBar{
	margin-top: 10vh;
	margin-left: 20vw;
	padding-left: 0;
	padding-right: 0;
	bottom: 15px;
	font-size: 3vh;
}

.turnBack{
	background-color: black;
	color: white;
	display: none;
}

#welcomeText{
	font-weight: 400;
	padding-top: 20vh;
	padding-left: 5%;
	padding-right: 5%;
}

h1{
	margin: 0px;
	padding-top: 40px;
	color: #55a244;
	font-weight: 300;
}

h2{
	margin: 0px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 20px;
	vertical-align: middle;
	font-size: 28px;
	color: #55a244;
	font-weight: 300;
}

h3{
	margin: 0px;
	margin-left: 5%;
	margin-right: 5%;
	padding-top: 10px;
	vertical-align: middle;
	font-size: 18px;
	color: #55a244;
	font-weight: 500;
}

#welcomeDivider{
	background-color: #55a244;
	width: 100vw;
	height: 3px;
}

.welcomeInstructions{
	padding-top: 10vh;
}

.bottomWrapper{
	background-color: #ffffe8;
	height: 50vh;
	width: 100vw;
}

.navArrows{
	position: absolute;
	bottom: 80px;
	width: 100vw;
}

.prev{
	position: absolute;
	height: 40px;
	left: 20px;
}

.next{
	position: absolute;
	height: 40px;
	right: 20px;
}

.nextButton{
	position: absolute;
	bottom: 10vh;
}

.arrow{
	height: 40px;
}

.navArrows div{
	display: inline;
}

.goalHeaders{
	height: 20%;
	width: 100vw;
}

#chooseGoalsHeader{
	font-weight: 500;
	font-size: 6vmax;
}

#chooseGoalsSub{
	font-size: 4vmax;
	font-weight: 300;
}

.bottomGreen{
	position: absolute;
	bottom: 0px;
	background-color: #55a244;
	width: 100vw;
	height: 17vh;
	-webkit-box-shadow: inset 0px 12px 16px -6px rgba(0,0,0,0.6);
	-moz-box-shadow: inset 0px 12px 16 -6px rgba(0,0,0,0.6);
	box-shadow: inset 0px 12px 16 -6px rgba(0,0,0,0.6);
}

.goalInstructions{
	text-align: center;
	font-size: 24px;
	padding-top: 4vh;
	padding-left: 20px;
	padding-right: 20px;
	margin-right: 20px;
	margin-left: 20px;
	color: #ffffe8;
}

.goalGrid{
	position: absolute;
	padding-top: 3vh;
	width: 100vw;
	height: 55vh; 
	bottom: 17vh;
	overflow: scroll;
	color: #ffffe8;
}

.bottomFix{
	bottom: 13vh;
}

.increasedPadding{
	padding-left: 25px;
	padding-right: 25px;
}



.goalButton{
	-moz-background-clip: padding;     /* Firefox 3.6 */
	-webkit-background-clip: padding;  /* Safari 4? Chrome 6? */
	background-clip: padding-box;
	height: 20vh;
	line-height: 1.2;
	background-color: rgba(55, 55, 55, 0.3);
	border: solid 3px rgba(255, 255, 255, 0.01);
	padding: 2px;
	padding-top: 5px;
	text-align: center;
	font-size: 4vmin;
}

@media all and (min-width: 960px) {
.goalButton{
    font-size: 3vh;
  }
}

@media all and (max-width: 959px) and (min-width: 600px) {
.goalButton{
    font-size: 3vh;
  }
}

@media all and (max-width: 599px) and (min-width: 50px) {
.goalButton{
    font-size: 4vw;
  }
}

.fixGoalBgGray{
	background-color: rgba(55, 55, 55, 0.3);
}

.fixGoalBgGreen{
	background-color: rgba(85, 162, 68, 0.5);
}


.taskPoints{
	position: absolute;
	text-align: center;
	bottom: 3px;
	left: 10%;
	right: 10%;
	color:white;
	font-weight: bold;
}

.taskDescription{
	padding-bottom: 20px;
}

#ownGoalPoints{
	color:white;
	font-weight: bold;
	margin-left: 10px;
}

.row{
	color: #ffffe8;
	margin: 0px;
	padding-bottom: 1vh;
}

.titles{
	margin-top: 10px;
}

.allGoals{
	overflow: scroll;
	max-height: 50vh;
}

.confirmBox{
	display: none;
	background: url('img/check_light_green.png');
	background-position: center;
	background-size: 10vh 10vh;
	background-repeat: no-repeat;
	height: 100%;
	position: relative;
}

.nextText{
	font-size: 28px;
	color: #55a244;
	margin: 0px;
	font-weight: 300;
	border-bottom: 1px dotted;
}

.thinHeader{
	margin-top: 10px;
	padding: 0px;
}

.doneLink {
	color:white;
	font-size: 25px;
	border:none;
	border-bottom: 1px dotted;
	background-color:transparent;
	
}

*::-webkit-input-placeholder {
    color: rgba(255,255,232,0.8);
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: rgba(255,255,232,0.8);
}
*::-moz-placeholder {
    /* FF 19+ */
    color: rgba(255,255,232,0.8);
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: rgba(255,255,232,0.8);
}

@media screen and (min-width: 700px){
	.topHalfWrapper{
		width: 700px;
	}
}

@media screen and (max-width: 359px){
	.welcomeInstructions{
		font-size: 24px;
	}

	.goalInstructions{
		font-size: 4vh;
	}

	.row{
		padding-bottom: 0;
	}

}

@media screen and (min-width: 700px){
	.goalInstructions{
		font-size: 5vh;
	}
}

@media screen and (max-width: 343px){
	.goalInstructions{
		font-size: 5.5vw;
	}
}

@media screen and (max-width: 900px) and (max-height: 400px){
	.goalInstructions{
		font-size: 5vh;
	}
}

.topHalfWrapper{
	width: 100vw;
	height: 50vh;
}

.headerBg{
	background-color: #55a244;
	height: 20vh;
}

.headerBg h1{
	padding-top: 8vh;
	text-transform: uppercase;
	font-size: 32px;
	font-weight: 200;
	color: #ffffe8;
}

@media screen and (min-width: 321px){
	.headerBg h1{
		font-size: 36px;
	}
}

.toIndex{
	position: absolute;
	bottom: 30px;
	padding-top: 0;
	padding-bottom: 0; 
	width: 40vw;
	height: 45px;
	right: 5vw;
}

.toIndex input{
	padding-top: 7px;
	vertical-align: middle;
}

.toOwnGoals{
	position: initial;
	bottom: 30px;
	padding-top: 0;
	padding-bottom: 0; 
	margin-left: 3vw;
	margin-top: 3vh;
	width: 40vw;
	height: 45px;
	left: 5vw;
}

.toOwnGoals input{
	padding-top: 7px;
	vertical-align: middle;
}
@media screen and (max-height: 540px){
	.toIndex{
		font-size: bottom: 5px;
	}
}

input.marginRight{
	margin: 0;
	margin-right: 15px;
}

.totalPoints{
	position: relative;
	color: #ffffe8;
	font-size: 16px;
	width: 80vw;
	left: 10vw;
	text-align: center;
}

.indexHeader{
	background-color: rgb(33, 33, 33);
	height: 10vh;
	width: 100vw;
	position: fixed;
	display: table;
	z-index: 20;
}

.button{
	display: table-cell;
	height: 5vh;
	width: 5vh;
	margin: 2vh;
}

.headerTitle{
	font-size: 5vh;
	font-family: "Open Sans";
	font-weight: 300;
	color: #55a244;
	text-transform: uppercase;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
	position: relative;
	left: -4vw;
}

.container.offsetHeader{
	padding-top: 10vh;
	overflow: scroll;
	background-color: rgb(33, 33, 33);
}

.goal{
	width: 100vw;
	height: 15vh;
	display: table;
	/*border-bottom: solid 1px rgb(33, 33, 33);*/
	font-family: "Oswald";
	font-size: 3vh;
}

.pointCircle{
	background-color: rgb(33, 33, 33);
	border-radius: 12vh;
	height: 12vh;
	width: 12vh;
	margin: 1.5vh;
	background-position: center;
	background-size: 10vh 10vh;
	background-repeat: no-repeat;
}

.points{
	color: #ffffe8;
	text-align: center;
	line-height: 12vh;
}

.tableFix{
	display: table-cell;
	vertical-align: middle;
}

.description{
	display: table-cell;
	line-height: 1.4;
	width: 70vw;
	color: #ffffe8;
}

.footer{
	background-color: rgb(33, 33, 33);
	position: fixed;
	bottom: 0px;
	height: 15vh;
	width: 100vw;
	display: table;
}

.tab{
	border-top: solid 3px rgb(65, 65, 65);
	width: 33vw;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

.myGoals{
	background: url("img/goals.png");
	background-size: 5vh auto;
	background-repeat: no-repeat;
	background-position: center;
	border-top: solid 3px #64bb50;
}

.highscore{
	background: url("img/rankings.png");
	background-size: 5vh auto;
	background-repeat: no-repeat;
	background-position: center;
}

.stats{
	background: url("img/stats.png");
	background-size: 5vh auto;
	background-repeat: no-repeat;
	background-position: center;
}

.positionCircle{
	background-color: rgb(50, 50, 50);
	border-radius: 5.5vh;
	height: 5.5vh;
	width: 5.5vh;
	margin-right: 2.5vh;
	margin-left: 1vh;
}

.position{
	color: #ffffe8;
	text-align: center;
	line-height: 5.5vh;
	font-size: 2.5vh;
}

.toggleDaily{
	background: url("img/total.png");
	background-size: 4vh auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #55a244;
	border-radius: 8vh;
	height: 8vh;
	width: 8vh;
	position: fixed;
	bottom: 18vh;
	right: 3vh;
	box-shadow: 0 3px 5px rgba(0,0,0, 0.5);
}

.toggle{
	line-height: 8vh;
	text-align: center;
	color: #ffffe8;
}

.bg1{
	background: url("img/daily.png");
	background-size: 4vh auto;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #55a244;
	border-radius: 8vh;
	height: 8vh;
	width: 8vh;
	position: fixed;
	bottom: 18vh;
	right: 3vh;
}

.checkBg{
	background-image: url('img/check_light_green.png');
	background-position: center;
	background-size: 8vh 8vh;
	background-repeat: no-repeat;
}

.statsTitle{
	font-family: "Oswald";
	font-size: 3vh;
	width: 50vw;
	text-align: center;
	position: relative;
	bottom: -10vh;
	z-index: 999;
}

.pieChart{
	width: 50vw;
	height: 65vh;
	/*display: inline;*/
}

#myStats{
	display: table;
	overflow: hidden;
}

.dailyStats{
	display: table-cell;
	width: 50vw;
}

.totalStats{
	width: 50vw;
	display: table-cell;
}

#slideMenu{
	background-color: rgba(0,0,0,0.8);
	min-width: 70vw;
	width: 70vw;
	height: 100vh;
	position: absolute;
	top: 10vh;
	left: -70vw;
	display: table-cell;
	z-index: 1000;
	font-style: "Open Sans";
	font-size: 6vmin;
	color: #ffffe8;
	box-shadow: 2vmin 0px 4vmin rgba(0,0,0,0.3);
}

#slideMenu ul{
	list-style-type: none;
	padding-left: 8vw;
	margin: 0;
	padding: 0;
}

#outer{
	width: 170vw;
	position: absolute;
	display: table;
	/*left: -40vw;*/
	overflow: hidden;
}

.container.fullWidth.offsetHeader{
	position: relative;
	display: table-cell;
}

li{
	padding-bottom: 5vh;
	padding-top: 3vh;
	padding-left: 8vw;
}

#logoutButton{
	height: 5vmin;
	width: 5vmin;
	margin: 2vmin;
	display: inline;
	margin-bottom: 0;
	margin-left: 0;
	/*position: relative;*/
	/*bottom: 5vh;*/
}

.sideMenuBottomFix{
	position: absolute;
	bottom: 10vh;
	width: 62vw;
	padding-top: 5vh;
	background-color: rgba(255,0,0,0.6);
}

#userinfo{
	background-color: rgba(0,0,0,0.5);
	padding-top: 5.5vh;
	padding-bottom: 5.5vh;
	/*text-align: center;*/
	/*padding-left: 0;*/
	max-height: 15vh;
	/*box-shadow: 0 1vmin 2vmin rgba(0,0,0,0.6);*/
}

.userIcon{
	height: 6vmin;
	width: auto;
	margin: 0;
	padding: 0;
	margin-right: 5vmin;
}

#myTasks{
	height: 75vh;
	overflow: scroll;
}